@charset "UTF-8";

@font-face {
  font-family: "Poppins-Light";
  src: url("Poppins-Light.woff2") format("woff2"),
       url("Poppins-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}